<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PSX Dashboard</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Pakistan Stock Exchange (KSE100) Dashboard</h1>
    <div id="chart"></div>
    <h2>Model Metrics:</h2>
    <p>Mean Squared Error: {{ metrics.mse }}</p>
    <p>R-squared Score: {{ metrics.r2 }}</p>

    <script>
        var plotJson = {{ plot_json | safe }};
        Plotly.newPlot('chart', plotJson.data, plotJson.layout);
    </script>
</body>
</html>